:root {
  --background-rgb: 255, 255, 255;
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-rgb: 33, 37, 41;
    --foreground-rgb: 248, 249, 250;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
  min-height: 100vh;
}

main {
  padding-top: 4rem;
}

.card-link-trigger {
  text-decoration: none;
  color: inherit;
}

.card-link-trigger:hover .card {
  border-color: #0d6efd;
  box-shadow: 0 0 0.25rem rgba(13, 110, 253, 0.5);
}

.border-dashed {
  border: 2px dashed #6c757d;
}